* {
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

body {
    background-image: url("https://static.pexels.com/photos/2143/lights-party-dancing-music.jpg");
    background-size: cover;
    font-family: 'VT323', sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.col-4 {
  width: 33.33%;
  float: left;
  padding: 15px;
}

.game-canvas {
  background-color: white;
}

button {
  padding: 10px;
  width: 200px;
  height: 70px;
  background-color: #C41986;
  border: 1 px solid black;
  border-radius: 20px;
  font-family: inherit;
  font-size: 40px;
  color: white;
}

.instructions {
  color: white;
}

.instructions h1 {
  font-size: 5em;
  text-shadow: 0 0 0.2em #C41986, 0 0 0.2em #C41986;
}

.instructions h2{
  font-size: 2em;
  text-shadow: 0 0 0.2em #C41986, 0 0 0.2em #C41986;
}

.instructions h3{
  font-size: 2em;
  padding: 10px;
}

.how-to {
  border: 10px white;
  border-radius: 20px;
  background-color: black;
  opacity: 1;
  width: 400px;
  height: 400px;
}


.scoreboard {
  border: 10px white;
  border-radius: 20px;
  background-color: white;
  width: 200px;
  height: 120px;
}

#score {
  color: #C41986;
  text-align: center;
}
